body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat-black', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat-black', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

#title {
  padding-bottom: 100px;
}

.container-fluid {
  padding: 3% 15%
}

/* SECTIONS */

.coloured-section {
  background-color: #ff4c68;
  color: white;
}
.white-section {
  background-color: white;
  color:black;

}

/* NAVIGATION BAR */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  color: white;
  padding: 0 18px 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

/* DOWNLOAD buttons */
.download-button {
  margin: 5% 3% 5% 0%;
  font-weight: 500;
}

/* TITLE IMAGE */
.title-img {
  width: 60%;
  transform: rotate(35deg);
  position: absolute;
  right: 30%;
}

@media (max-width: 995px) {
  .title-img {
    position: static;
    transform: rotate(0deg);
  }

  #title {
    text-align: center;
  }
}

/* FEATURES SECTION */
#features {
  padding: 7% 15%;
  background-color: white;
  position: relative;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.tag-lines {
  color: #818161;
}

/* TESTIMONAIL SECTION */
#testimonials {
  color: white;
  text-align: center;
  background-color: #ef8172;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* PRICING */
#pricing {
  text-align: center;
  padding: 100px;
  font-family: 'Montserrat';
}

.pricing-column {
  padding: 3%, 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}
/* CTA SECTION */
#cta {
  text-align: center;
}

.cta-heading {
  padding:100px 200px 0 200px;
  font-size: 3.5rem;
  font-family: 'Montserrat';
  color: white;
}

/* FOOTER CODE */
#footer {
  text-align: center;
  background-color: white;
  margin-top:50px;
}
.social-icons {
  margin:1rem;
}
